html,
body {
  height: 100%;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0;
}

h1 {
  font-style: italic;
}

#root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.social-container {
  display: flex;
  justify-content: space-between;
  max-width: 250px;
}

.root-container {
  border: 5px solid #000;
  padding: 2rem 5rem;
  background-color: #fff;
}
